<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Info</title>
</head>

<style>
    div{
        border: 2px solid black;
    }
</style>

<body>
    <h1>Welcome {{session['name']}}</h1>
        <h1>{{recipe.name}}</h1>
        <h1>Posted By: {{recipe.maker.first_name}}</h1>
        <div>
            <h3>Description: {{recipe.description}}</h3>
            <h3>Instructions: {{recipe.instructions}}</h3>
            <h3>Under 30 Minutes? {{recipe.under30}}</h3>
            <h3>Date Made: {{recipe.updated_at}}</h3>
        </div>

        <a href="/recipes">Home</a>
        <a href="/logout">Logout</a>
</body>
</html>